<div class="toolbar__table">
  <span class="toolbar__caption">Handle:</span>
  <span class="toolbar__value">
    {{toolbar.name|default('@none')}}
  </span>
  <span class="toolbar__caption">File:</span>
  <span class="toolbar__value">
    {{toolbar.component.templatePath|default('none')}}
  </span>
</div>
