<div class="toolbar__table">
  <span class="toolbar__caption">Handle:</span>
  <span class="toolbar__value">
    {{toolbar.name}}
  </span>
  <span class="toolbar__caption">File:</span>
  <span class="toolbar__value">
    {{toolbar.component.templatePath}}
  </span>
</div>
