<div class="toobar__compile-control">
  {% include 'component-library/controls/switch.twig' with {
    label: 'Compiled View',
    align: 'left',
    small: true,
    checked: false
  } %}
</div>
<div class="code">
  <pre>
    <code class="language-html">{{ toolbar.contents.compiled_component|default('Empty') }}</code>
    <code class="language-twig">{{ toolbar.contents.raw_component|default('Empty') }}</code>
  </pre>
</div>
