{% extends "_layouts/_library" %}
{% block body %}
  {% set toolbarClass = toolbar|default(false) ? '' : 'toolbar-hidden' %}
  <div class="container js-loading {{toolbarClass}}">
    <nav id="split-sidebar" class="sidebar">
      {% include '_partials/sidebar' %}
    </nav>
    <main id="split-content">
      <div id="split-preview" class="preview">
        {% if component_name is empty %}
          {% include 'welcome' %}
        {% elseif not component_exists %}
          {% include 'not-found' %}
        {% else %}
          {% include '_partials/preview' %}
        {% endif %}
      </div>
      <div id="split-toolbar" class="toolbar">
        {% include '_partials/toolbar' %}
      </div>
    </main>
  </div>
{% endblock %}
