<details open class="sidebar__details">
  <summary>
    <span class="material-symbols-outlined">
      expand_more
    </span>
    {{name}}
  </summary>
  <ul class="sidebar__list">
    {% if not nodes %}
      <li class="list__empty">Empty</li>
    {% endif %}
    {% for node in nodes %}
      <li class="list__item">
        {% if node.type == 'file' %}
          <a href="{{node.preview_url}}">{{ node.handle }}</a>
        {% endif %}
        {% if node.type == 'directory' %}
          {% include 'component-library/partials/recursive_dir.twig' with node %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</details>
