<ul>
  {% for node in nodes %}
    <li>
      {% if node.type == 'file' %}
        <a href="{{node.preview_url}}">{{ node.handle }}</a>
      {% else %}
        <strong>{{ node.name }}</strong>
      {% endif %}
      {% if node.nodes is not empty %}
          {% include 'component-library/partials/recursive_dir.twig' with { 'nodes': node.nodes } %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
